body{
    background-image: url('./img/dashbordbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    
}
.navbar{
    background-color:  rgba(255,255,255,0.4);
    font-weight: bolder;
    font-size: 20px;
}
.navbar-header{
    font-weight: bolder;
    font-size: 40px;
}
.container>ul{
    margin-top: 10px;
}
.main-container{
display: flex;
    font-weight:bolder;
}
.flex{
    margin: 10px;
}
.task-container{
    width: 60%;
    height: 630px;
    display: flex;
    flex-direction: column;
    row-gap:10px;
}
.display-container{
    width: 40%;
    background-color:  rgba(255,255,255,0.4);
    height: 630px;
    border-radius: 10px;
}
.task-list{
    width: 100%;
    height: 70px;
    background-color:  rgba(255,255,255,0.4);
    border-radius: 10px;
    padding: 1%;
    font-size:x-large;
    
}
.left-button{
    display: flex;
}
.left-button>button:nth-child(1){
    margin-left: auto;
}
.middile-container{
    width: 100%;
    display: flex;
    height: 90%;
    font-weight:bolder;
}
h3{
    font-weight: bolder;
}
.notstarted,.inprogress,.compleated{
    width: 32%;
    height: 100%;
    background-color:  rgba(255,255,255,0.2);
    margin: 5px;
    border-radius: 10px;
    font-size: x-large;
    padding: 1%;
}
#task-box{
    width:100%;
    height:25%;
    background-color:  rgba(255,255,255,0.4);
    border-radius: 10px;
    padding:3%;
    margin-bottom: 15px;
}

.middle-title{
    display: flex;
    font-size: medium;
}
.middle-title>button{
    margin-left: auto;
}
.dates{
    /* display: flex; */
    font-size: small;
}
#startDate{
    width: 250px;
}
#endDate{
    width: 250px;
}
.notstarted{
    overflow: scroll;
    overflow-x: hidden;
}
#taskText{
    width: 52%;
    min-height:300px;
    background-color:  rgba(255,255,255,0.2);
    border-radius: 10px;
    overflow-y: scroll;
}
#taskheading{
    font-size: 50px;
    background-color: rgba(255,255,255,0);
    width: 250px;
}
#filter-options{
    align-self: flex-end;
}
#popup{
    display: none;
    background-color: rgb(8, 8, 8,0.8);
    color:rgb(249, 64, 221);
    position: absolute;
    top:30%;
    left: 40%;
    padding: 2%;
    text-align: center;
    border: 2px solid rgba(255,255,255);
    box-shadow: 15px 15px 15px rgb(241, 84, 220);
    border-radius:15px;
}
#popup>select{
    color:aqua
}
#popUpheading{
    background-color: rgba(255,255,255,0);
    /* font-size: x-large; */
    
}

.btn-warning+select{
    display: none;
}
.filter-selected+select{
    display: block;
}
select{
    font-size: small;
}



